#DB_HOST=localhost
#B_PORT=5432
#DB_USER=postgres
#DB_PASSWORD=admin
#DB_NAME=jaipur_db_node

# Or use a hosted PostgreSQL URL:
# DATABASE_URL=postgres://user:password@host:5432/database
# DB_SSL=true

## for rendrered database
DB_HOST=dpg-d7ss7vdckfvc73cnsmk0-a
DB_PORT=5432
DB_USER=db_for_jaipur_user
DB_PASSWORD=5nk2eySXiJA8gSxd1NsSEm0KknDtaem2
DB_NAME=db_for_jaipur